{% extends "base.html" %}
{% load static %}


{% block body %}

<div class="container">
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm-8 contactUsDesktopHeader">
            <h1 class="contactHeader">Contact Us</h1>
            <hr>
            <p class="header">What’s your query about?</p>
            <div class="contact-view__container justify-content:flex start">
                <div class="zds-selection-cell__title">Chat</div>
                <p>Mon-Fri: 9:00 AM to 9:00 PM</p>
                <p>Sat: 10:00 AM to 6:00 PM</p>
            </div>
            <div class="contact-view__container justify-content:flex start">
                <div class="zds-selection-cell__title">Telephone</div>
                <p>Mon-Fri: 9:00 AM to 7:00 PM</p>
                <p>Sat: 10:00 AM to 6:00 PM</p>

            </div>
        </div>

        <div class="col-sm-4 contactUsDesktopHeader" style="padding: 10px;">
            <img class="contactUsImage imgResponsive" src="https://images.bewakoof.com/web/airoplane.png"
                title="airoplane" alt="airoplane">

        </div>

    </div>
</div>
<div class="container-fluid" style=" background-color:burlywood;">
    <!-- <footer> -->
        <div class="row justify-content-center" style="margin-top: 100px;">

            <div class="col-lg-3">
                <div class="section">
                    <h3>ONLINE SHOPPING</h3>
                    <ul>
                        <li>Men</li>
                        <li>Women</li>
                        <li>Kids</li>
                        <li>Home & Living</li>
                        <li>Beauty</li>
                        <li>Gift Cards</li>
                        <li>Myntra Insider</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="section">
                    <h3>USEFUL LINKS</h3>
                    <ul>
                        <li>Blog</li>
                        <li>Careers</li>
                        <li>Site Map</li>
                        <li>Corporate Information</li>
                        <li>Whitehat</li>
                        <li>Cleartrip</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="section">
                    <h3>CUSTOMER POLICIES</h3>
                    <ul>
                        <li>Contact Us</li>
                        <li>FAQ</li>
                        <li>T&C</li>
                        <li>Terms Of Use</li>
                        <li>Track Orders</li>
                        <li>Shipping</li>
                        <li>Cancellation</li>
                        <li>Returns</li>
                        <li>Privacy Policy</li>
                        <li>Grievance Officer</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="background-color:burlywood;">
            <div class="col-lg-4">
                <div class="section">
                    <h4>EXPERIENCE CLOTHING APP ON MOBILE</h4>
                    <img class="desktop-androidDownLink"
                        src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png"
                        height="42px">
                    <img class="desktop-iOSDownLink"
                        src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"
                        height="42px">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section">
                    <h3>KEEP IN TOUCH</h3>
                    <img src="https://constant.myntassets.com/web/assets/img/d2bec182-bef5-4fab-ade0-034d21ec82e31574604275433-fb.png"
                        style="width: 20px; height: 20px; margin-left:25px;">
                    <img src="https://constant.myntassets.com/web/assets/img/f10bc513-c5a4-490c-9a9c-eb7a3cc8252b1574604275383-twitter.png"
                        style="width: 20px; height: 20px;margin-left:12px; margin-right:12px">
                    <img src="https://constant.myntassets.com/web/assets/img/a7e3c86e-566a-44a6-a733-179389dd87111574604275355-yt.png"
                        style="width: 28px; height: 20px; margin-right:12px">
                    <img src="https://constant.myntassets.com/web/assets/img/b4fcca19-5fc1-4199-93ca-4cae3210ef7f1574604275408-insta.png"
                        style="width: 20px; height: 22px; position: relative; top: 1px;">
                </div>
            </div>
        </div>

    <!-- </footer> -->
</div>


{% endblock %}