
{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="container" style="max-width: 1225px">
    <div class="row">
        <div class="fnl-pdp-breadcrumb">
            <div class="fnl-plp-searchcat">
                <div class="fnl-pdp-breadcrumb">
                    <div class="fnl-plp-searchcat">
                        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                <a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" href="/"
                                    style="color: #AFACAC;">
                                    <span itemprop="name">Home</span>
                                </a>&nbsp;/
                                <meta itemprop="position" content="1">
                            </li>
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                <a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" href="#"
                                    onclick="return false;" style="color: #AFACAC;">
                                    <span itemprop="name">&nbsp;Who We Are | About Us</span>
                                </a>
                                <meta itemprop="position" content="2">
                            </li>

                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fnl-pageheading fnl-marginb4"></div>
    <div class="row justify-content-center">
        <div class="content">
            <h1 class="fnl-logo-head fnl-aligncenter">Who We Are</h1>
        </div>
    </div>
    <div class="fnl-pageheading fnl-marginb4"></div>
    <div class="row">
        <div class="fnl-catlan-carousel slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable" tabindex="0">
                <div class="slick-track" style="opacity: 1; width: 1224px; transform: translate3d(0px, 0px, 0px);">
                    <div style="position: relative; width: 1224px;" class="slick-slide slick-active"
                        data-slick-index="0" aria-hidden="false">
                        <a style="display:block;" tabindex="-1" href="#"><img src="{% static 'about.jpg'%}" alt='about' width="100%" height="550"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fnl-pageheading fnl-marginb4"></div>
    <div class="row">
        <div class="fnl-aboutus-boxstmnt fnl-fbdtype-subtext" style=" padding-left: 200px; padding-right: 200px;">
            <p>With the trendiest, freshest, and most unique styles from across India and the world, CLOTHING invites
                you to
                express
                your personal style fearlessly, and with a confidence and optimism that cannot be easily shaken.</p>
        </div>

    </div>
    <div class="fnl-pageheading fnl-marginb4"></div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="fnl-subheadline fnl-padding6">CLOTHING OWN</div>
            <div class="fnl-aboutus-subpara fnl-servicepages-ff">CLOTHING OWN is our private label – that’s designed by us,
                and owned by you. If you’re looking for head-turning styles that are one-of-a-kind, CLOTHING OWN is what you
                should stock up on. </div>
        </div>

        <div class="col-xs-6  col-sm-6 col-md-6 col-lg-6">
            <div class="fnl-subheadline fnl-padding6">Exclusive International Labels</div>
            <div class="fnl-aboutus-subpara fnl-servicepages-ff">We bring you the trendiest and most exclusive brands
                from around the world to your wardrobe. Forget scouring the net for what’s hot globally, we’ve got you
                covered.</div>
        </div>
    </div>
    <div class="clearboth">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fnl-aboutus-border" style="margin-left:auto;">
            <div class="fnl-aboutus-boxstmnt fnl-fbdtype-subtext" style=" padding-left: 200px; padding-right: 200px;">
                <p>Why let a world that loves to police your wardrobe and your expression get the upper hand, anyway?
                </p>
                <p>So the next time someone says ‘Oh, that dress is too bold’ ‘Are you sure you’re the right size for
                    this?’ ‘Maybe you should pick a colour that suits you’ or ‘Act your age and wear something else’, go
                    ahead and do exactly what you please. When it comes to great style and personal expression, there
                    should never be any regrets.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="fnl-subheadline fnl-padding6">Capsule Collections</div>
            <div class="fnl-aboutus-subpara fnl-servicepages-ff">If there’s an occasion to express your personal style,
                we’ve got a capsule collection to match. Shopping for a specific mood, event or style story has never
                been easier.</div>
        </div>

        <div class="col-xs-6  col-sm-6 col-md-6 col-lg-6">
            <div class="fnl-subheadline fnl-padding6">The Indie Experience</div>
            <div class="fnl-aboutus-subpara fnl-servicepages-ff">Our Indie styles are literally art you can wear. They
                are carefully handpicked, so that only the most authentic, handcrafted pieces by artisans across the
                country and globe make the cut.</div>
        </div>
    </div>
    <div class="row fnl-aboutus-margin">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="fnl-subheadline fnl-padding6">CLOTHING Style Tribe</div>
            <div class="fnl-aboutus-subpara fnl-servicepages-ff">A high-fashion editorial where we feature the
                internet’s coolest cats. It’s where you get to read the stories of these influencers and shop their
                stunning shoot looks.</div>
        </div>
        <div class="col-xs-6  col-sm-6 col-md-6 col-lg-6">
            <div class="fnl-subheadline fnl-padding6">#CLOTHINGtoday</div>
            <div class="fnl-aboutus-subpara fnl-servicepages-ff">Our daily trend spotlight that lets you in on what’s
                hip and happening, and what you should be carting right now. Like they say, a trend each day keeps the
                blues away!</div>
        </div>
    </div>
    <div class="col-xs-6  col-sm-6 col-md-6 col-lg-6">
        <div class="fnl-subheadline fnl-padding6">#CLOTHINGrecommends</div>
        <div class="fnl-aboutus-subpara fnl-servicepages-ff">From the hailstorm of trends coming down on us every
            season, we only recommend the ones guaranteed to put you on the hit list. Watch out for these regular
            highlights.</div>
    </div>
    <div class="col-xs-6  col-sm-6 col-md-6 col-lg-6">
        <div class="fnl-subheadline fnl-padding6">#recommendsCLOTHING</div>
        <div class="fnl-aboutus-subpara fnl-servicepages-ff">This is where we celebrate and showcase our most stylish
            customers, who’ve given us a shout-out on social while dressed in a trendy CLOTHING style. You could very well
            be on the list too.</div>
    </div>
    <div class="fnl-aboutus-map fnl-marginT20 fnl-aboutus-mapm">
    </div>

    
    <div class="row">
        <div class="fnl-footerbody-homeoutter">
            <div class="fnl-footerbody">
                <div>
                    <div class="fnl-footer-support">

                        <div class="fnl-headline3b ">CLOTHING</div>
                        <div class="fnl-vmenulist">
                            <ul>
                                <li><a href="/about/" title="Who We Are" class="headingActive">Who We Are</a>
                                </li>
                                <li><a title="Join Our Team">Join Our Team</a></li>
                                <li><a title="Terms &amp; Conditions">Terms &amp;
                                        Conditions</a></li>
                                <li><a title="We Respect Your Privacy">We Respect Your Privacy</a>
                                </li>
                                <li><a title="Fees &amp; Payments">Fees &amp;
                                        Payments</a></li>
                                <li><a title="Returns &amp; Refunds Policy">Returns &amp;
                                        Refunds Policy</a></li>
                                <li><a title="Promotions Terms &amp; Conditions">Promotions
                                        Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="fnl-footer-support">

                        <div class="fnl-headline3b ">HELP</div>
                        <div class="fnl-vmenulist">
                            <ul>
                                <li><a title="Track Your Order">Track Your Order</a></li>
                                <li><a title="Frequently Asked Questions">Frequently Asked
                                        Questions</a></li>
                                <li><a title="Returns">Returns</a></li>
                                <li><a title="Cancellations">Cancellations</a></li>
                                <li><a title="Payments">Payments</a></li>
                                <li><a title="Customer Care">Customer Care</a></li>
                                <li><a title="How Do I Redeem My Coupon?">How Do I Redeem My
                                        Coupon?</a></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="fnl-footer-support">

                        <div class="fnl-headline3b ">SHOP BY</div>
                        <div class="fnl-vmenulist">
                            <ul>
                                <li></li>
                                <li><a title="Men">Men</a></li>
                                <li><a title="Women">Women</a></li>
                                <li><a title="Kids">Kids</a></li>
                                <li><a title="Indie">Indie</a></li>
                                <li><a title="Stores">Stores</a></li>
                                <li><a title="New Arrivals">New Arrivals</a></li>
                                <li><a title="Brand Directory">Brand Directory</a></li>
                                <li><a title="Home">Home</a></li>
                                <li><a title="Collections">Collections</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="fnl-footer-support">

                        <div class="fnl-headline3b ">FOLLOW US</div>
                        <div class="fnl-vmenulist">
                            <ul>
                                <li><a href="/about/" title="Facebook"
                                        target="_blank">Facebook</a></li>
                                <li><a href="/about/" title="Instagram"
                                        target="_blank">Instagram</a></li>
                                <li><a href="/about/" title="Twitter" target="_blank">Twitter</a>
                                </li>
                                <li><a href="/about/" title="Pinterest"
                                        target="_blank">Pinterest</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>



{% endblock%}